.mat-flat-button {
  margin-bottom: 20px;
}

.mat-stroked-button {
  margin-top: 15px;
}

.mat-card {
  padding: 20px;
  width: 250px;
}

.social-logins {
  margin-top: 4%;
}

.google-icon {
  width: 50px;
  height:25px;
}

.error-container {
  margin-top: 4%;
  width: 100%;
}
