<div class="message-container" fxLayout="row" fxLayoutAlign="center center" toastContainer></div>

<div *ngIf="this.profile" [style.margin-top]="'90px'" fxLayout="column" fxLayoutAlign="center center">

  <mat-card class="profile-card" fxLayout="column" fxLayoutAlign="center center">
      <img class="avatar" mat-card-image src="{{ this.profileAvatar }}" alt="avatar">

    <mat-card-content>
      <mat-card-header>
        <mat-card-title>{{ this.profile.displayName }}</mat-card-title>
      </mat-card-header>
      <mat-card-subtitle>About {{ this.profile.displayName }}</mat-card-subtitle>
      <p>{{ this.profile.aboutMe }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>FRIEND</button>
      <button mat-button>CONTACT</button>
    </mat-card-actions>
  </mat-card>

</div>
