<div class="list-container" fxLayout="column" fxLayoutAlign="space-between center">
  <app-character-template-list *ngIf="myCharacters" [characterList]="myCharacters" [titleText]="'My Characters'" [subtitleText]="'Total: ' + this.myCharacters.length"></app-character-template-list>
  <app-character-template-list *ngIf="newestCharacters" [characterList]="newestCharacters" [titleText]="'Shared Characters'" [subtitleText]="'Most recent creation: ' + 'some date?'"></app-character-template-list>
</div>
