<div class="message-container" fxLayout="row" fxLayoutAlign="center center" toastContainer></div>

<div>
  <form novalidate (ngSubmit)="submitProfile()" [formGroup]="this.userProfileForm" fxLayout="row" fxLayoutAlign="center center" [style.margin-top]="'90px'">

  <mat-card>
    <mat-card-content>

  <div class="dropzone" appDragNDrop (fileDropped)="this.handleFileSelection($event)">
    <input class="file-upload" type="file" #fileDropRef id="fileDropRef" formControlName="newProfileAvatar" (change)="this.handleFileSelection($event)">
    <img class="upload-file-icon" src="assets/upload-icon.png" alt="Upload file">
    <h3>Dragon drop (hah!) file here</h3>
    <h3>or</h3>
    <label class="change-avatar" for="fileDropRef">Change avatar</label>
  </div>

    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title [style.margin-bottom]="'25px'">Edit your profile</mat-card-title>
    <mat-card-content fxLayout="column" fxLayoutAlign="center center">

        <mat-form-field appearance="outline" color="accent">
          <mat-label>Change your email</mat-label>
          <input matInput formControlName="email">
          <mat-error></mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" color="accent">
          <mat-label>Change your username</mat-label>
          <input matInput formControlName="displayName">
          <mat-error></mat-error>
        </mat-form-field>

        <button mat-stroked-button appPreventDoubleClick
                [throttleTime]="2000"
                (throttledClick)="this.submitProfile()"
                [class.spinner]="loading"
                color="accent"
                type="submit"
                [disabled]="userProfileForm.invalid || loading">{{ this.submitButtonText }}</button>


    </mat-card-content>
  </mat-card>
  </form>

</div>
