.logo-40 {
  height: 40px;
}

.mat-menu-panel {
  max-width: 500px !important;
}

.text {
  display: block;
  max-width: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.text:hover {
  overflow: visible;
}

.profile-avatar-button {
  height: 40px;
  width: 40px;
  margin-left: 10px;
  border-radius: 100%;
  background-color: #2b2929;
  position: relative;
}

.toolbar-profile-avatar {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.menu-profile-avatar-container {
  height: 70px;
  width: 70px;
  border-radius: 100%;
  background-color: #2b2929;
  position: relative;
}

.menu-profile-avatar {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.profile-menu {
  width: 300px;
}

.mat-badge-content {
  font-family: 'Material Icons', serif;
}

.mat-badge-large.mat-badge-above .mat-badge-content {
  top: 45px;
  left: 45px;
}


.change-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 65%;
  left: 65%;
  cursor: pointer;
}
