<div class="flex-container" fxLayout="column" fxLayoutAlign="center center">

    <mat-card>
      <mat-card-content fxLayout="column" fxLayoutAlign="center center">
        <mat-card-title>404</mat-card-title>
        <mat-card-subtitle>
          Did you take a wrong turn?
        </mat-card-subtitle>
        <mat-card-footer>
          If you think you are seeing this page in error, please <a [routerLink]="'/'">contact us</a>. Otherwise, return <a [routerLink]="'/'">home</a>
        </mat-card-footer>
      </mat-card-content>
    </mat-card>

</div>
