table {
  width: 100%;
}

.character-class-basic-info {
  display: flex;
  width: 40%;
}

.class-table {
  width: 60%;
}

tr.class-level-detail-row {
  height: 0;
}

tr.class-level-row:not(.example-expanded-row):hover {
  background: grey;
}

.class-level-row td {
  border-bottom-width: 0;
}

.character-class-detail {
  overflow: hidden;
  display: flex;
}

.class-feature-name, .desc-header {
  font-size: 1rem;
  font-style: italic;
  border-bottom: #FFFFFF 1px solid;
}
