table {
  width: 100%;
}

.character-class-basic-info {
  display: flex;
  width: 50%;
}

.class-table {
  width: 50%;
}

tr.class-level-detail-row {
  height: 0;
}

tr.class-level-row:not(.example-expanded-row):hover {
  background: grey;
}

tr.class-level-row:not(.example-expanded-row):active {
  background: grey;
}

.class-level-row td {
  border-bottom-width: 0;
}

.character-class-detail {
  overflow: hidden;
  display: flex;
}
