<div fxLayout="column"
     fxLayoutAlign="center center"
     [style.margin-top]="'120px'">
  <mat-card id="horizontal">
    <mat-card-content>
      <form novalidate (ngSubmit)="signUp()" [formGroup]="registrationForm">
        <div fxLayout="column" fxLayoutAlign="end center">
          <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-around center">
            <div fxLayout="column">
              <mat-form-field appearance="outline" class="no-padding" color="accent">
                <mat-label>Enter your email</mat-label>
                <input matInput placeholder="pat@example.com" formControlName="email">
              </mat-form-field>
              <div fxLayout="column" fxLayoutGap="1px" class="validation-messages">
                <label fxLayout="row" fxLayoutAlign="start center" [ngClass]="registrationForm.controls['email'].hasError('required') ||
                registrationForm.controls['email'].hasError('email')  ? 'text-danger' : 'text-success'">
                  <mat-icon>{{ registrationForm.controls['email'].hasError('required') ||
                  registrationForm.controls['email'].hasError('email') ? 'cancel' :
                    'check_circle' }}
                  </mat-icon>
                  {{ this.invalidEmailMessage }}
                </label>
                <label fxLayout="row" fxLayoutAlign="start center" [ngClass]="registrationForm.controls['email'].hasError('unavailable') ||
                registrationForm.controls['email'].hasError('required') ||
                registrationForm.controls['email'].hasError('email') ? 'text-danger' : 'text-success'">
                  <mat-icon>{{ registrationForm.controls['email'].hasError('unavailable') ||
                  registrationForm.controls['email'].hasError('required') ||
                  registrationForm.controls['email'].hasError('email') ? 'cancel' : 'check_circle' }}
                  </mat-icon>
                  {{ registrationForm.controls['email'].hasError('unavailable') &&
                !registrationForm.controls['email'].hasError('required') &&
                !registrationForm.controls['email'].hasError('email') ? 'Email is already registered' : 'Email is available' }}
                </label>
              </div>

              <mat-form-field appearance="outline" class="no-padding" color="accent">
                <mat-label>Enter a password</mat-label>
                <input matInput type=password formControlName="password">
              </mat-form-field>

              <div fxLayout="column" fxLayoutGap="1px" class="validation-messages">
              <label fxLayout="row" fxLayoutAlign="start center" [ngClass]="registrationForm.controls['password'].hasError('required') ||
              registrationForm.controls['password'].hasError('minlength')  ? 'text-danger' : 'text-success'">
                <mat-icon>{{ registrationForm.controls['password'].hasError('required') ||
                registrationForm.controls['password'].hasError('minlength') ? 'cancel' :
                  'check_circle' }}</mat-icon>
                {{ this.passwordMinLengthMessage }}
              </label>
              <label fxLayout="row" fxLayoutAlign="start center" [ngClass]="registrationForm.controls['password'].hasError('required') ||
              registrationForm.controls['password'].hasError('hasNumber')  ? 'text-danger' : 'text-success'">
                <mat-icon>{{ registrationForm.controls['password'].hasError('required') ||
                registrationForm.controls['password'].hasError('hasNumber') ? 'cancel' :
                  'check_circle' }}</mat-icon>
                {{ this.passwordContainsNumberMessage }}
              </label>
                <label fxLayout="row" fxLayoutAlign="start center" [ngClass]="registrationForm.controls['password'].hasError('required') ||
                registrationForm.controls['password'].hasError('hasSpecialCharacters')  ? 'text-danger' : 'text-success'">
                  <mat-icon>{{ registrationForm.controls['password'].hasError('required') ||
                  registrationForm.controls['password'].hasError('hasSpecialCharacters') ? 'cancel' :
                    'check_circle' }}</mat-icon>
                  {{ this.passwordContainsSpecialCharacterMessage }}
                </label>
              <label fxLayout="row" fxLayoutAlign="start center" [ngClass]="registrationForm.controls['password'].hasError('required') ||
              registrationForm.controls['password'].hasError('hasCapitalCase')  ? 'text-danger' : 'text-success'">
                <mat-icon>{{ registrationForm.controls['password'].hasError('required') ||
                registrationForm.controls['password'].hasError('hasCapitalCase') ? 'cancel' :
                  'check_circle' }}</mat-icon>
                {{ this.passwordContainsCapsMessage }}
              </label>
              <label fxLayout="row" fxLayoutAlign="start center" [ngClass]="registrationForm.controls['password'].hasError('required') ||
              registrationForm.controls['password'].hasError('hasSmallCase')  ? 'text-danger' : 'text-success'">
                <mat-icon>{{ registrationForm.controls['password'].hasError('required') ||
                registrationForm.controls['password'].hasError('hasSmallCase') ? 'cancel' :
                  'check_circle' }}</mat-icon>
                {{ this.passwordContainsLowerCaseMessage }}
              </label>
              </div>

              <mat-form-field appearance="outline" class="no-padding" color="accent">
                <mat-label>Confirm your password</mat-label>
                <input matInput type=password formControlName="confirmPassword">
              </mat-form-field>

              <div fxLayout="column" fxLayoutGap="1px" class="validation-messages">
                <label fxLayout="row" fxLayoutAlign="start center"
                     [ngClass]="registrationForm.controls['confirmPassword'].hasError('noPasswordMatch') ? 'text-danger' : 'text-success'">
                <mat-icon>
                  {{ registrationForm.controls['confirmPassword'].hasError('noPasswordMatch') ||
                registrationForm.controls['password'].hasError('required') ? 'cancel' : 'check_circle' }}</mat-icon>
                  {{ this.passwordConfirmationMessage }}
                </label>
              </div>
              <button mat-flat-button color="accent" type="submit" [disabled]="!registrationForm.valid">
                Register
              </button>
            </div>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
