<div class="list-container">
  <div class="header-text" fxLayout="column" fxLayoutAlign="center start">
    <mat-panel-title class="title-text">{{ this.titleText ? this.titleText : 'Title Text' }}</mat-panel-title>
    <mat-panel-description class="subtitle-text">{{ this.subtitleText ? this.subtitleText : 'Subtitle Text' }}</mat-panel-description>
  </div>
<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide *ngFor="let character of characters" [width]="350">
     <app-character-template [character]="character"></app-character-template>
  </ng-template>
</owl-carousel-o>
</div>
