table, mat-paginator, .class-results {
  width: 100%;
}

tr.class-level-detail-row {
  height: 0;
}

tr.class-level-row:not(.example-expanded-row):hover {
  background: grey;
}

tr.class-level-row:not(.example-expanded-row):active {
  background: #efefef;
}

.class-level-row td {
  border-bottom-width: 0;
}

.character-class-detail {
  overflow: hidden;
  display: flex;
}


.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
  width: 100%;
}

.example-element-description-attribution {
  opacity: 0.5;
}

mat-paginator {
  display: flex;
  justify-content: center;
}

.add-class-button {
  color: green;
}

.remove-class-button {
  color: #b71c1c;
}

.example-tooltip-red {
  background: #b71c1c;
}

:host ::ng-deep .mat-tab-header {
  top: 0;
  z-index: 1000;
  position: sticky;
  position: -webkit-sticky;
  background-color: #424242;
}

.mat-column-class-features {
  width: 45%;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px
  rgba(0, 0, 0, 0.14), 0 3px 14px 2px
  rgba(0, 0, 0, 0.12);

  height: 48px;
  background-color: grey;
  display: table;
}

.cdk-drag-preview td {
  flex-grow: 2;
  font-size: 14px;
  padding: 4px;
  vertical-align: middle;
}

.cdk-drag-placeholder {
  background-color: grey;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging .mat-row:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

th.mat-sort-header-sorted {
  color: white;
}
