<table mat-table [dataSource]="searchTableDataSource" matSort>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
    <td mat-cell *matCellDef="let race"> {{race.name}} </td>
  </ng-container>


  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let race">
      <button mat-flat-button
              color="primary"
              (click)="selectRace(race)">Select {{ race.name }}</button>
      <button mat-icon-button class="inspect-class-button"
              (click)="openDialog(race)"
              matTooltip="Inspect {{ race.name }} details">
        <mat-icon>info</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="this.searchTableColumnsToDisplay; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: this.searchTableColumnsToDisplay;" [ngClass]="{'selected-race': row.id == this.raceSelected}"></tr>

</table>

<mat-paginator [pageSizeOptions]="[25, 50, 100]"
               [color]="'accent'"
               showFirstLastButtons
               aria-label="Select page of races">
</mat-paginator>

<button mat-button matStepperPrevious>Back</button>
<button mat-flat-button color="accent" matStepperNext>Next</button>

