.card-container {
  width: 350px;
  height: 450px;
  position: relative;
  margin: 15px;
}

.flippable-card {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform .75s;
}

.flippable-card mat-card {
  margin: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flippable-card .back {
  background: #000000;
  transform: rotateY(-180deg);
}

.flippable-card.flipped {
  transform: rotateY(-180deg);
}

.mat-card {
  text-overflow-ellipsis: true;
  border: black solid 10px;
  border-radius: 10px;
}

.mat-card-image {
  margin: 5px 15px 0 15px;
  max-width: 90%;
  border: 3px ridge black;
  max-height: 215px;
}

.desc-box {
  border: 5px #2b2929 ridge;
  height: 90px;
  padding: 5px;
}

.character-physical-traits {
  font-size: .7rem;
  width: 98%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin: 5px;
  display: flex;
  padding: 3px;
}

.mat-card-footer {
  font-size: .8rem;
  margin-left: 3px;
  margin-right: 3px;
}

.mat-card-subtitle {
  margin-bottom: 0 !important;
}

.character-level {
  border: 1px solid black;
  border-radius: 100%;
  height: 25px;
  width: 25px;
}

.character-creator {
  font-style: italic;
}

.character-desc {
  font-size: .8rem;
  flex-grow: 1
}

.character-quote {
  border-top: 1px solid black;
  padding: 2px;
  font-style: italic;
  font-size: .75rem;
}
