<div fxLayout="row"
fxLayout.lt-md="column"
fxLayoutAlign="space-around center"
fxLayoutGap="50px"
[style.margin-top]="'120px'" [style.margin-left]="'150px'" [style.margin-right]="'150px'">
  <div fxLayout="column" fxLayoutAlign="space-around center">
    <h1>Where adventure happens</h1>
    <h2>The most powerful tabletop simulator and character builder for DND 3.5, 4e, and 5e. When you need to power-up your adventure, roll Nat20.</h2>
    <button mat-flat-button color="accent" [routerLink]="'/login'">GET STARTED</button>
  </div>
  <div fxLayout="column" fxLayoutAlign="space-around center">
    <img id="scene" src="assets/Nat20-Home-500.png" alt="scene">
  </div>
</div>

{{ this.userData | json }}
