<div fxLayout="column" fxLayoutAlign="center">
<mat-form-field appearance="fill">
  <mat-label>Dice Roll</mat-label>
  <mat-select [(value)]="rollStyle">
    <mat-option [value]="'4d6b3'">4d6 drop the lowest</mat-option>
    <mat-option [value]="'3d6'">3d6</mat-option>
    <mat-option [value]="'custom'">Custom</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Allocation Method</mat-label>
  <mat-select [(value)]="allocationMethod">
    <mat-option [value]="'automatic'">Automatic</mat-option>
    <mat-option [value]="'rollThenAssign'">Assign after rolling</mat-option>
  </mat-select>
</mat-form-field>

  <div>
    <mat-label>Re-roll ones?</mat-label>
    <mat-checkbox [checked]="reRollOnes"></mat-checkbox>
  </div>

  <button mat-raised-button (click)="roll()"><mat-icon svgIcon="d20"></mat-icon></button>

  <span>{{ this.rollTotal }}</span>

  <button mat-flat-button>Done</button>
  <button mat-flat-button>Cancel</button>
</div>
