<mat-dialog-content fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="10px">
  <h1>{{ this.data | titlecase }}</h1>
  <mat-form-field appearance="fill">
    <mat-label>Dice Roll</mat-label>
    <mat-select [(value)]="rollStyle">
      <mat-option [value]="'4d6b3'">4d6 drop the lowest</mat-option>
      <mat-option [value]="'3d6'">3d6</mat-option>
      <mat-option [value]="'custom'">Custom</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" *ngIf="this.rollStyle === 'custom'" class="custom-roll-input">
    <mat-label>Input roll string</mat-label>
    <input matInput [formControl]="customRoll" placeholder="3d6">
    <mat-hint align="start">Use standard dice format. E.g., 4d6, 5d6b3, etc.</mat-hint>
  </mat-form-field>


  <mat-form-field appearance="fill">
    <mat-label>Allocation Method</mat-label>
    <mat-select [(value)]="allocationMethod">
      <mat-option [value]="'automatic'">Automatic</mat-option>
      <mat-option [value]="'rollThenAssign'">Assign after rolling</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-checkbox [checked]="reRollOnes" (change)="this.reRollOnes = !this.reRollOnes">Re-roll ones?</mat-checkbox>

  <button mat-raised-button (click)="roll()">
    <mat-icon svgIcon="d20"></mat-icon>
  </button>

  <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="15px">
    <div *ngFor="let roll of this.rolls; let i = index">
      <button mat-mini-fab (click)="reRollSingleRoll(i)">
      <mat-icon svgIcon="d6"></mat-icon>
      <span>{{ roll }}</span>
      </button>
    </div>

    <div *ngIf="this.rolls && this.rollStyle === '4d6b3'" class="roll-display">
    <mat-icon svgIcon="d6" class="color"></mat-icon>
    <span>{{ this.droppedRoll }}</span>
    </div>
  </div>

  <mat-form-field appearance="outline" *ngIf="this.rollTotal && this.rollTotal !== 0" class="roll-total">
    <mat-label>Roll total</mat-label>
    <input matInput [formControl]="rollTotalFormControl">
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions>
  <button mat-flat-button [color]="'accent'">Done</button>
  <button mat-stroked-button>Cancel</button>
</mat-dialog-actions>
