<button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
  {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
</button>
<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Select Sources to Use</ng-template>

      <mat-chip-list selectable>
        <mat-chip #chip="matChip" (click)="specialSourceHandling(chip)"
                  *ngFor="let option of ['Core Only', 'SRD Only', this.selectAll ? 'Select none' : 'Select all']">
          {{option}}
        </mat-chip>
      </mat-chip-list>

      <div class="checkbox-list" fxLayout="column" fxLayoutAlign="space-evenly stretch">
        <mat-form-field *ngIf="this.allSources">
          <mat-chip-list selectable multiple formControlName="chipsControl">
            <mat-chip #chip="matChip" [color]="'warn'" (click)="chip.toggleSelected(true)" [value]="source.sourceEnum"
                      *ngFor="let source of this.allSources">{{source.readable}}</mat-chip>
          </mat-chip-list>
        </mat-form-field>
      </div>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" label="Fill out your address">
    <form [formGroup]="secondFormGroup">
      <mat-form-field appearance="fill">
        <mat-label>Address</mat-label>
        <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
               required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>


<br>Sources: {{ this.allSources | json }}
<br>-------------
<br>-------------
<br>-------------
<br>Races: {{ this.availableRaces | json }}
<br>-------------
<br>-------------
<br>-------------
<br>Classes: {{ this.availableCharacterClasses | json }}
<br>-------------
<br>-------------
<br>-------------
<br>Deities: {{ this.availableDeities | json }}
<br>-------------
<br>-------------
<br>-------------
<br>Skills: {{ this.availableSkills | json }}
<br>-------------
<br>-------------
<br>-------------
<br>Feats: {{ this.availableFeats | json }}
<br>-------------
<br>-------------
<br>-------------
<br>Form Values: {{ this.firstFormGroup.get('chipsControl').value | json }}
