<div fxLayout="column"
     fxLayoutAlign="center center"
     [style.margin-top]="'120px'">
  <mat-card id="horizontal">
    <mat-card-content>
      <form novalidate (ngSubmit)="sendResetPasswordEmail()" [formGroup]="requestPasswordResetForm">
        <div fxLayout="column" fxLayoutAlign="end center">
          <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-around center">
            <div fxLayout="column">
              <mat-form-field appearance="outline" class="no-padding" color="accent">
                <mat-label>Enter your email</mat-label>
                <input matInput placeholder="pat@example.com" formControlName="email">
              </mat-form-field>
              <div fxLayout="column" fxLayoutGap="1px" class="validation-messages">
                <label fxLayout="row" fxLayoutAlign="start center"
                       [ngClass]="requestPasswordResetForm.controls['email'].hasError('required') ||
                requestPasswordResetForm.controls['email'].hasError('email')  ? 'text-danger' : 'text-success'">
                  <mat-icon>
                    {{ requestPasswordResetForm.controls['email'].hasError('required') ||
                  requestPasswordResetForm.controls['email'].hasError('email') ? 'cancel' : 'check_circle' }}
                  </mat-icon>
                  {{ this.invalidEmailMessage }}
                </label>
                <label fxLayout="row" fxLayoutAlign="start center" [ngClass]="requestPasswordResetForm.controls['email'].hasError('notExists') ||
                requestPasswordResetForm.controls['email'].hasError('required') ||
                requestPasswordResetForm.controls['email'].hasError('email') ? 'text-danger' : 'text-success'">
                  <mat-icon>
                    {{ requestPasswordResetForm.controls['email'].hasError('notExists') ||
                  requestPasswordResetForm.controls['email'].hasError('required') ||
                  requestPasswordResetForm.controls['email'].hasError('email') ? 'cancel' : 'check_circle' }}
                  </mat-icon>
                  {{ requestPasswordResetForm.controls['email'].hasError('notExists') &&
                requestPasswordResetForm.controls['email'].hasError('required') &&
                requestPasswordResetForm.controls['email'].hasError('email') ? 'Email not found' : 'Email exists' }}
                </label>
              </div>
              <button mat-flat-button color="accent" type="submit" [disabled]="!requestPasswordResetForm.valid">
                Submit
              </button>
            </div>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
