<div class='card-container'>
  <div class='flippable-card' *ngIf="character" [ngClass]="{'flipped':this.character.isFlipped}" (click)='this.character.isFlipped = !this.character.isFlipped'>

    <mat-card class="character-template" appMaterialElevation>

      <mat-card-content>

        <div class="card-content" fxLayout="column" fxLayoutAlign="space-between center">

          <div class="card-header-block" fxLayout="column" fxLayoutAlign="start start">
            <div class="header-row" fxLayout="row" fxLayoutAlign="space-between start">
              <mat-card-title class="character-name">{{ this.character.basicAttributes.name }}</mat-card-title>
              <div class="character-level" fxLayoutAlign="center center" matTooltip="Effective character level" [matTooltipShowDelay]="this.toolTipDelayInMs">20</div>
            </div>
            <mat-card-subtitle class="class-summary">Barbarian 2/Ranger 5/Horizon Walker 10/Rogue 3</mat-card-subtitle>
          </div>

          <img mat-card-image class="character-portrait" [src]="character.portraitUrl" alt="Character Portrait">

          <div class="character-physical-traits" fxLayout="row" fxLayoutAlign="space-between center">
            <div>{{ this.character.basicAttributes.race.name }}</div>
            <div>{{ this.character.basicAttributes.gender | titlecase }}</div>
            <div>{{ this.character.basicAttributes.height.feet + '\''}}
              {{ this.character.basicAttributes.height.inches + '"'}}</div>
            <div>{{ this.character.basicAttributes.weight + ' lbs.' }}</div>
          </div>

          <div class="desc-box" fxLayout="column" fxLayoutAlign="start start">
            <div class="character-desc">{{ this.character.basicAttributes.description }}</div>
            <div class="character-quote">{{ '"' + this.character.basicAttributes.quote + '"' }}</div>
          </div>

          <mat-card-footer class="misc-info" fxLayout="row" fxLayoutAlign="space-between center">
            <div class="character-creator" matTooltip="Character creator" [matTooltipShowDelay]="this.toolTipDelayInMs" [routerLink]="['/view-profile/', this.character.creatorUid]">
              {{ this.character.creatorDisplayName }}
            </div>
            <div matTooltip="DND Edition" [matTooltipShowDelay]="this.toolTipDelayInMs">{{ this.character.edition }}</div>
          </mat-card-footer>


        </div>

      </mat-card-content>
    </mat-card>


    <mat-card class='back'>
      <mat-card-title>{{ this.character.basicAttributes.name + '\'s ' }}Statistics</mat-card-title>
      <div class="base-attack-bonus">
        BAB: BAB GOES HERE
      </div>
      <div class="saving-throws-chart">
        <div>Saving Throws</div>
        <div>
          <div><span matTooltip="{{ this.character.attributeDetails.savingThrowDetails.fortitude.description }}" [matTooltipShowDelay]="this.toolTipDelayInMs">{{ this.character.attributeDetails.savingThrowDetails.fortitude.readable }}: </span>
            {{ this.calculateSavingThrowTotal(this.character.savingThrows.FORTITUDE) + this.calculateAbilityModifier(this.calculateBaseAbilityTotal(this.character.baseAbilities.CONSTITUTION)) }}</div>
          <div><span matTooltip="{{ this.character.attributeDetails.savingThrowDetails.will.description }}" [matTooltipShowDelay]="this.toolTipDelayInMs">{{ this.character.attributeDetails.savingThrowDetails.will.readable }}: </span>
            {{ this.calculateSavingThrowTotal(this.character.savingThrows.WILL) + this.calculateAbilityModifier(this.calculateBaseAbilityTotal(this.character.baseAbilities.WISDOM)) }}</div>
          <div><span matTooltip="{{ this.character.attributeDetails.savingThrowDetails.reflex.description }}" [matTooltipShowDelay]="this.toolTipDelayInMs">{{ this.character.attributeDetails.savingThrowDetails.reflex.readable }}: </span>
            {{ this.calculateSavingThrowTotal(this.character.savingThrows.REFLEX) + this.calculateAbilityModifier(this.calculateBaseAbilityTotal(this.character.baseAbilities.DEXTERITY)) }}</div>
        </div>
        <div class="ability-scores-chart">Ability Scores</div>
        <div>
          <div><span matTooltip="{{ this.character.attributeDetails.baseAbilityDetails.strength.description }}"
                     [matTooltipShowDelay]="this.toolTipDelayInMs">{{ this.character.attributeDetails.baseAbilityDetails.strength.abbreviation }}: </span>
            {{ this.character.baseAbilities.STRENGTH.inherentScore }} Mod: {{ this.calculateAbilityModifier(this.calculateBaseAbilityTotal(this.character.baseAbilities.STRENGTH)) }}</div>

          <div><span matTooltip="{{ this.character.attributeDetails.baseAbilityDetails.dexterity.description }}"
                     [matTooltipShowDelay]="this.toolTipDelayInMs">{{ this.character.attributeDetails.baseAbilityDetails.dexterity.abbreviation }}: </span>
            {{ this.character.baseAbilities.DEXTERITY.inherentScore }} Mod: {{ this.calculateAbilityModifier(this.calculateBaseAbilityTotal(this.character.baseAbilities.DEXTERITY)) }}</div>

          <div><span matTooltip="{{ this.character.attributeDetails.baseAbilityDetails.constitution.description }}"
                     [matTooltipShowDelay]="this.toolTipDelayInMs">{{ this.character.attributeDetails.baseAbilityDetails.constitution.abbreviation }}: </span>
            {{ this.character.baseAbilities.CONSTITUTION.inherentScore }} Mod: {{ this.calculateAbilityModifier(this.calculateBaseAbilityTotal(this.character.baseAbilities.CONSTITUTION)) }}</div>

          <div><span matTooltip="{{ this.character.attributeDetails.baseAbilityDetails.wisdom.description }}"
                     [matTooltipShowDelay]="this.toolTipDelayInMs">{{ this.character.attributeDetails.baseAbilityDetails.wisdom.abbreviation }}: </span>
            {{ this.character.baseAbilities.WISDOM.inherentScore }} Mod: {{ this.calculateAbilityModifier(this.calculateBaseAbilityTotal(this.character.baseAbilities.WISDOM)) }}</div>

          <div><span matTooltip="{{ this.character.attributeDetails.baseAbilityDetails.intelligence.description }}"
                     [matTooltipShowDelay]="this.toolTipDelayInMs">{{ this.character.attributeDetails.baseAbilityDetails.intelligence.abbreviation }}: </span>
            {{ this.character.baseAbilities.INTELLIGENCE.inherentScore }} Mod: {{ this.calculateAbilityModifier(this.calculateBaseAbilityTotal(this.character.baseAbilities.INTELLIGENCE)) }}</div>

          <div><span matTooltip="{{ this.character.attributeDetails.baseAbilityDetails.charisma.description }}"
                     [matTooltipShowDelay]="this.toolTipDelayInMs">{{ this.character.attributeDetails.baseAbilityDetails.charisma.abbreviation }}: </span>
            {{ this.character.baseAbilities.CHARISMA.inherentScore }} Mod: {{ this.calculateAbilityModifier(this.calculateBaseAbilityTotal(this.character.baseAbilities.CHARISMA)) }}</div>
        </div>
      </div>
    </mat-card>
  </div>
</div>
