.card-container {
  width: 300px;
  height: 485px;
  position: relative;
  margin: 15px;
}

.flippable-card {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform .75s;
}

.flippable-card mat-card {
  margin: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flippable-card .back {
  background: #000000;
  transform: rotateY(-180deg);
}

.flippable-card.flipped {
  transform: rotateY(-180deg);
}

.card-header-block {
  margin: 15px 15px 0;
  border-bottom: 1px solid white;
  width: 100%;
  flex-shrink: 0;
}

.mat-card {
  text-overflow-ellipsis: true;
  background-color: #431515;
  padding: 0;
}

.character-portrait {
  width: 100%;
  margin: 0;
}



.character-physical-traits {
  font-size: .7rem;
  width: 100%;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  margin: 0;
  display: flex;
  padding: 3px;
}

.mat-card-subtitle {
  margin: 0 10px;
}

.character-level {
  border: 1px solid white;
  border-radius: 100%;
  height: 25px;
  width: 25px;
}

.desc-box {
  border-bottom: 1px white solid;
  margin-bottom: 10px;
  height: 100%;
  padding: 5px;
}

/*.character-creator {*/
/*  font-style: italic;*/
/*}*/

/*.character-desc {*/
/*  font-size: .8rem;*/
/*  flex-grow: 1*/
/*}*/

/*.character-quote {*/
/*  border-top: 1px solid white;*/
/*  padding: 2px;*/
/*  font-style: italic;*/
/*  font-size: .75rem;*/

/*}*/

.misc-info {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  font-size: .8rem;
  flex-grow: 1;
}
